input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
  display: block;
  outline: none;
  @include padMrg(padding, 0.8em);
  @include padMrg(margin, 1em);
}

.contact-us__form {
  input,
  textarea {
    width: 100%;
  }

  textarea {
    min-height: 150px;
  }
}