input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
  display: block;
  outline: none;
  @include padMrg(padding, 0.8em);
  @include padMrg(margin-bottom, 1em);
  font-size: inherit;
}

.errorBox {
  @include borderDisplay(border, 2px, solid, $red);
}

.contact-us__form {
  input,
  textarea {
    width: 100%;
  }

  textarea {
    min-height: 150px;
  }
}