.about-us {
  &__subHeading {
    color: $dodgerLightBlue;
  }

  &__content {
    width: 100%;
    max-width: 1300px;
    @include padMrg(margin, 0 auto);

    > p {
      @include padMrg(margin-bottom, 1em);
    }

    > p:last-child {
      @include padMrg(margin-bottom, 4em);
    }
  }

  &__features {
    @include borderDisplay(top, 1px, solid, $lightestGrey);
  }

  &__features-content {
    height: 300px;
    @include clearFix();

    > div {
      float:left;
      width: 25%;
      height: 300px;
      @include displayEle();
    }
  }

  &__features-img {
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
  }

  &__feature-description {
    @include padMrg(padding, 2em);

    > h2 {
      font-weight: $fontWeightMediumBold;
    }
  }
}

.img-quality {
  background-image: url(../images/about-quality.jpg);
}

.img-time {
  background-image: url(../images/about-time.jpg);
}

.img-ethical {
  background-image: url(../images/about-ethical.jpg);
}
