.about-us {
  &__subHeading {
    color: $dodgerLightBlue;
  }

  &__content {
    width: 100%;
    max-width: 1300px;
    @include padMrg(margin, 0 auto);

    > p {
      @include padMrg(margin-bottom, 3em);
    }
  }

  &__features {
    border: 1px solid red;
  }

  &__feature-1,
  &__feature-2,
  &__feature-3 {
    @include displayEle();
    width: 33.33%;
    border: 1px solid red;
  }
}