body {
  background: $white;
  color: $midGrey;
  font: $baseFontWeight $baseFontSize $baseFont;
}

h1 {
  color: $headingColor;
  font-size: $headingFontSize;
  font-weight: $fontWeightMediumBold;
  @include padMrg(padding-bottom, 1em);
}

h2 {
  font-weight: $fontWeightMedium;
  @include padMrg(padding-bottom, 1em);
}

a:link {
  color: $dodgerLightBlue;
  @include transition(color, 0.5s, ease);
}

a:visited,
a:hover {
  color: $lightGrey;
}

a:active {
  color: $brightTurquoise;
}

main {
  @include padMrg(margin-top, 8em);
  border: 1px solid black;
}

section {
  text-align: center;
  @include padMrg(margin, 5em 0);
}