body {
  background: $white;
  color: $midGrey;
  font: $baseFontWeight $baseFontSize $baseFont;
}

h1 {
  color: $headingColor;
  font-size: $headingFontSize;
  font-weight: $fontWeightMediumBold;
  @include padMrg(padding-bottom, 1em);
}

h2 {
  font-size: $baseFontSize;
  color: $black;
  font-weight: $fontWeightMedium;
  @include padMrg(margin-bottom, 1em);
}

a:link,
a:visited {
  color: $dodgerLightBlue;
  @include transition(color, 0.5s, ease);
}


a:hover {
  color: $lightGrey;
}

a:active {
  color: $brightTurquoise;
}

main {
  @include padMrg(margin-top, 4.5em);
}

section {
  text-align: center;
  @include padMrg(padding-top, 2em);
}