.contact-us {
  @include clearFix();
  @include padMrg(margin-bottom, 0);

  &__subHeading {
    color: $brightTurquoise;
  }

  &__content {
    width: 100%;
    max-width: 1300px;
    @include padMrg(margin, 0 auto 3em);
    @include clearFix();

    @include media(1450px) {
      width: 90%;
    }

    > p {
      @include padMrg(margin-bottom, 3em);
    }
  }

  &__form,
  &__details {
    width: 45%;
    text-align: left;

    @include media(800px) {
      width: 99%;
      text-align: center;
    }
  }

  &__form {
    float: left;
  }

  &__details {
    float: right;

    @include media(800px) {
      @include padMrg(margin-top, 2em);
    }

    &-list {
      list-style-type: none;
    }

    &-listitem {
      @include padMrg(margin-bottom, 1em);
      @include position(relative);

      &:before {
        content: attr(data-icon);
        font-family: "FontAwesome";
        color: $dodgerLightBlue;
        @include displayEle(block);
        @include position(absolute, 5px, -30px);

        @include media(800px) {
          content: "";
        }
      }
    }
  }

  &__location-map {
    width: 100%;
    height: 500px;
  }

  &__map-content {
    font-size: $baseFontSize;
    color: $textColor;
    line-height: 2;
    font-family: $baseFont;

    span {
      font-weight: $fontWeightMediumBold;
    }
  }

  &__map-heading {
    font-size: $baseFontSize * 2;
    @include padMrg(padding-bottom, 0);
    color: $dodgerLightBlue;
    font-weight: $fontWeightMediumBold;
  }

  &__map-subHead {
    color: $brightTurquoise;
  }
}

