.page-header {
  background: $white;
  width: 100%;
  line-height: 70px;
  z-index: 100;
  @include borderDisplay(top, 10px, solid, $dodgerBlue);
  @include padMrg(padding, 1em 2em);
  @include position(fixed, 0, 0);

  &__content {
    max-width: 1300px;
    width: 100%;
    @include padMrg(margin, 0 auto);
  }

  &__logo {
    color: $dodgerLightBlue;
    font-size: $baseFontSize * 2.5;
    font-weight: $fontWeightBold;
    float: left;
    @include displayEle();
  }

  &--logo-green {
    color: $brightTurquoise;
  }

  &__btn {
    float: right;
    @include padMrg(margin, 0.6em 0 0);
  }
}