.privacy-modal,
.dealer-modal {
  z-index: 110;
  background: rgba($black, 0.6);
  overflow: auto;
  animation: animateModal 0.5s;
  @include position(fixed, 0, 0, 0, 0);
  @include displayEle(none);

  &__content {
    transform: translate(-50%, -50%);
    background: $white;
    min-width: 70%;
    text-align: center;
    @include position(absolute, 50%, 50%);
    @include padMrg(padding, 1.5em 2em);
    @include shadow(box-shadow, 0, 0, 15px, 5px, rgba($black, 0.5));
    @include transition(all, 0.5s, ease-in-out);

    @include media(950px) {
      min-width: 85%;
      @include padMrg(padding, 1.5em 1em);
    }

    @include media(550px) {
      min-width: 90%;
    }

    p {
      @include padMrg(margin-bottom, 1.25em);
    }
  }

  &__close-btn {
    font-size: $baseFontSize * 1.8;
    float: right;
    cursor: pointer;
    @include transition(all, 0.5s, ease-in-out);
    @include border-radius(50%);

    &:hover,
    &:focus {
      color: $dodgerBlue;
    }
  }

  &__subHeading {
    color: $dodgerBlue;
  }
}

.privacy-modal,
.dealer-modal {
  &__content {

    @include media(420px) {
      height: 600px;
      overflow-y: scroll;
    }
  }
}

.dealer-modal {
  &__content {
    min-width: 20%;

    @include media(950px) {
      min-width: 85%;
    }

    @include media(550px) {
      min-width: 90%;
    }
  }

  &__subHeading {
    color: $brightTurquoise;
  }

  &__form {
    overflow: hidden;
    @include padMrg(margin, 0 auto);

  }

  .fa-check-circle {
    @include padMrg(margin-right, 0.5em);
    color: $dodgerBlue;
  }

  &__terms-list {
    list-style-type: none;
  }

  &__terms {
    @include padMrg(padding, 0.5em);
  }

  &__terms:first-child {
    font-weight: $fontWeightMediumBold;
  }

  &__terms:last-child {
    @include padMrg(margin-bottom, 1em);
  }
}

/* Keyframe animation for modal */
@keyframes animateModal {
  from { opacity: 0 }
  to { opacity: 1 }
}