.privacy-modal,
.dealer-modal {
  z-index: 101;
  background: rgba($black, 0.6);
  overflow: auto;
  animation: animateModal 0.5s;
  @include position(fixed, 0, 0, 0, 0);
  @include displayEle(none);

  &__content {
    transform: translate(-50%, -50%);
    background: $white;
    width: 70%;
    text-align: center;
    @include position(absolute, 50%, 50%);
    @include padMrg(padding, 1.5em 2em);
    @include shadow(box-shadow, 0, 0, 15px, 5px, rgba($black, 0.5));
    @include transition(all, 0.5s, ease-in-out);

    p {
      @include padMrg(margin-bottom, 1.25em);
    }
  }

  &__close-btn {
    font-size: $baseFontSize * 1.8;
    float: right;
    cursor: pointer;
    @include transition(all, 0.5s, ease-in-out);
    @include border-radius(50%);

    &:hover,
    &:focus {
      color: $dodgerBlue;
    }
  }

  &__subHeading {
    color: $dodgerBlue;
  }
}

.dealer-modal {
  &__content {
    width: 70%;
  }

  &__subHeading {
    color: $brightTurquoise;
  }

  &__form {
    // border: 1px solid blue;
    overflow: hidden;
    @include padMrg(margin, 0 auto);
  }

  input[type="text"],
  input[type="email"],
  input[type="tel"],
  textarea {
    // float: left;
    @include padMrg(margin, 0 1em 1em);
  }

  input[type="text"],
  input[type="email"],
  input[type="tel"] {
    width: 100%;
  }

  textarea {
    width: 100%;
  }

  .fa-check-circle {
    @include padMrg(margin-right, 0.5em);
    color: $dodgerLightBlue;
  }

  &__terms-list {
    list-style-type: none;
  }

  &__terms {
    @include padMrg(padding, 0.5em);
  }

  &__terms:first-child {
    font-weight: $fontWeightMediumBold;
  }

  &__terms:last-child {
    @include padMrg(margin-bottom, 1em);
  }

}

/* Keyframe animation for modal */
@keyframes animateModal {
  from { opacity: 0 }
  to { opacity: 1 }
}