input,
textarea {
  display: block;
  outline: none;
  font-size: inherit;
  background: $white;
  @include padMrg(padding, 0.8em);
  @include padMrg(margin-bottom, 1em);
  @include borderDisplay(border, 1px, solid, $lightGrey);
}

textarea {
  min-height: 100px;
  resize: none;
}

input:focus,
textarea:focus {
  color: $dodgerBlue;
  @include borderDisplay(border, 2px, solid, $dodgerBlue);
}

.errorBox {
  @include borderDisplay(border, 2px, solid, $red);
}

.contact-us__form,
.dealer-modal__form {
  input,
  textarea {
    width: 99%;
  }
}

.form-submit-message {
  opacity: 0;
  background: lighten($dodgerLightBlue, 40%);
  color: $dodgerBlue;
  @include displayEle(none);
  @include padMrg(padding, 0.7em);
  @include padMrg(margin, 1.2em 0);
  @include transition(opacity, 0.5s, ease);
}