.page-header {
  background: $white;
  width: 100%;
  line-height: 70px;
  z-index: 100;
  @include borderDisplay(top, 10px, solid, $dodgerBlue);
  @include padMrg(padding, 1em 2em);
  @include position(fixed, 0, 0);
  @include shadow(box-shadow, 0, -5px, 13px, 5px, rgba($black, 0.2));

  @include media(1280px) {
    @include padMrg(padding, 0.5em 1.5em);
  }

  @include media(600px) {
    @include padMrg(padding, 0.3em 1.2em);
  }

  @include media(510px) {
    @include padMrg(padding, 0.3em 0);
  }

  &__content {
    max-width: 1300px;
    width: 100%;
    @include padMrg(margin, 0 auto);
  }

  &__logo {
    color: $dodgerLightBlue;
    font-size: $baseFontSize * 2.5;
    font-weight: $fontWeightBold;
    float: left;
    @include displayEle();

    @include media(1280px) {
      font-size: $baseFontSize * 2.2;
    }

    @include media(950px) {
      font-size: $baseFontSize * 2;
    }

    @include media(600px) {
      font-size: $baseFontSize * 1.7;
    }

    @include media(510px) {
      @include padMrg(padding, 0 0.5em);
    }
  }

  &--logo-green {
    color: $brightTurquoise;
  }

  &__btn {
    float: right;
    @include padMrg(margin, 0.6em 0 0);

    @include media(920px) {
      @include padMrg(margin, 0.9em 3.5em);
    }

    @include media(510px) {
      width: 100%;
      @include displayEle(block);
      @include padMrg(margin, 0);
      @include border-radius(0);
    }
  }
}