.products {
  background: $dodgerLightBlue url("../images/product-bg-2500.jpg") no-repeat center; 
  background-size: cover;
  // background-image: linear-gradient(-225deg, $dodgerLightBlue, $brightTurquoise);
  min-height: 600px;
  @include position(relative);

  @include media(1700px) {
    background-image: url("../images/product-bg-1700.jpg"); 
  }

  @include media(1200px) {
    background-image: url("../images/product-bg-1200.jpg"); 
  }

  @include media(800px) {
    background-image: url("../images/product-bg-800.jpg"); 
    min-height: 480px;
  }

  @include media(600px) {
    min-height: 500px;
  }

  @include media(500px) {
    background-image: url("../images/product-bg-500.jpg"); 
    min-height: 600px;
  }

  @include media(400px) {
    min-height: 660px;
  }

  @include media(350px) {
    min-height: 720px;
  }

  &__heading {
    color: $black;
  }

  &__subHeading {
    color: $white;
  }

  &__content {
    width: 100%;
    max-width: 1300px;
    transform: translate(-50%, -50%);
    @include position(absolute, 50%, 50%);
    @include padMrg(margin, 0 auto);

    @include media(1450px) {
      width: 90%;
    }

    h2 {
      font-size: $baseFontSize * 1.3;

      @include media(1280px) {
        font-size: $baseFontSize * 1.2;
      }

      @include media(800px) {
        font-size: $baseFontSize * 1.1;
      }

      @include media(600px) {
        font-size: $baseFontSize;
      }

      &:nth-of-type(2) {
        color: $white;
      }
    }

    > p {
      color: $black;
      @include padMrg(margin-bottom, 1em);
    }
  }
}