// Borders
@mixin border-radius($radius, $values) {
  @each $value in $values {
    border-#{$value}-radius: $radius;
  }
}

// Padding & Margins
@mixin padMrg($property, $values) {
  @if $property == "padding" {
    padding: $values;
  } @else {
    margin: $values;
  }
}

// Position
@mixin position($property, $top, $left, $right: null, $bottom: null) {
  @if $property == "abs" {
    position: absolute;
    top: $top;
    right: $right;
    bottom: $bottom;
    left: $left;
  } @else if $property == "rel" {
    position: relative;
  }
}

// Transitions
@mixin transition($property, $duration, $style, $delay: null) {
  transition: $property $duration $style $delay;
}

// Box and text shadow
@mixin shadow($property, $x, $y, $blur, $expand, $color) {
  @if $property == "box-shadow" {
    box-shadow: $x $y $blur $expand $color;
  } @else {
    text-shadow: $x $y $blur $color;
  }
}