// Site colors
$dodgerBlue: rgb(35, 139, 250); // #238BFA
$dodgerLightBlue: rgb(0, 179, 254); // #00b3fe
$brightTurquoise: rgb(1, 237, 201); // #01EDC9
$black: rgb(0, 0, 0); //#000000
$darkGrey: lighten($black, 15%);
$midGrey: lighten($black, 30%);
$lightGrey: lighten($black, 60%);
$white: rgb(255, 255, 255); // #FFFFFF

// Root
$bodyColor: $white;
$textColor: $midGrey;

// Typography
$baseFont: 'Poppins', sans-serif;
$baseFontWeight: 400;
$baseFontSize: 113%;
$fontWeightBold: 700;
$fontWeightMedium: 600;
$headingFontSize: $baseFontSize * 2;
$headingColor: $black;

// Links
$

// Forms
$formInputBackground: $white;
$formInputColor: $darkGrey;
